[submodule "decorated_merge_trees"]
	path = decorated_merge_trees
	url = git@github.com:colinstephen/Decorated-Merge-Trees.git
[submodule "teaspoon"]
	path = teaspoon
	url = https://github.com/TeaspoonTDA/teaspoon.git
